[submodule "activation_oracles"]
	path = activation_oracles
	url = git@github.com:adamkarvonen/activation_oracles.git
[submodule "reasoning-with-sampling"]
	path = reasoning-with-sampling
	url = git@github.com:aakaran/reasoning-with-sampling.git
